@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&display=swap');

:root {
    --background-color:#0c0418;
    --font-primary-color:#feffff;
    --primary-color:#ba0bf9;
  }
  
  *{
    border: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Antonio", sans-serif;
    font-weight: 400;
    color: var(--font-primary-color);
  }
 
  body{
    background-color: var(--background-color);
  }